.wrapper{
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
}
.head{
    margin-top: 15px;   
    font-size: 30px;
  font-weight: bolder;
}
.body{
    
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: flex-end;
}

.right{
    width: 47vw;
    margin-right: 2%;
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    @media(max-width:1200px){
        width: 95vw;
        text-align: center;
    }
}
