/* styles/events.module.css */

.container {
  width: 80%;
  margin: auto;
}

.heading {
  text-align: center;
}

.swiper-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: auto;
  height: 300px; /* Adjust the height as needed */
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: all 0.3s ease;
}

.swiper-button-prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-button-next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
  width: 15px;
  height: 15px;
  padding: auto;
  overflow: hidden;
}
