.sliderContainer {
  width: 100%;
  /* height: 100vh; */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.sliderImages {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sliderImg {
  width: 10vw;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.sliderImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.sliderImg:first-child,
.sliderImg:last-child {
  height: 480px; 
}

.sliderImg:nth-child(2),
.sliderImg:nth-child(6) {
  height: 480px; 
}

.sliderImg:nth-child(3),
.sliderImg:nth-child(4),
.sliderImg:nth-child(5) 
{
  height: 480px; 
}

.he {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
}

.sliderImg.active {
  width: 480px !important; 
  height: 480px !important;
  .he {
    display: none;
  }
}

.sliderImg.active h1 {
  display: none;
}
