.text1{
    color: white;
    padding: 5px;
    background-color: black;
}

.contact{
    color: rgb(255, 255, 255);
    width: 100%;
    height:40vh;
    @media(max-width:900px){
        height: 80vh;
    }
    overflow: hidden;
    background-color: #242754;
    display: flex;
    @media(max-width:900px){
        flex-direction: column;
    }
}
.box1{
    height: 100%;
    display: flex;
    flex-direction: column;
   @media(max-width:900px){
    height: 45%;
   }
}

.up{
    height: 50%;
    display: flex;
justify-content: space-between;
align-items: center;
}

.child1 ,.child2{
    display: flex;
    width: 50%;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    margin-left:15px ;
    @media(max-width:900px){
        flex-direction: row;
      }
      @media(max-width:550px){
        font-size: 10px;
    }
}

.icon{
    width: 40px;
    margin: 5px;
    display: flex;
}

.down{
  
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    @media(max-width:900px){
justify-content: start;
    }
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    @media(max-width:550px){
        font-size: 11px;
    }
}
.address{
    color: #8aaccc;
}
.box{
    height: 100%;
    display: grid;
   margin-top: 30px;
    flex: 1;
    flex-direction: column;
    @media(max-width:900px){
        flex-direction: row;
    }
}
.boxcont{
    height: 100%;
   display: grid;
   font-size: 20px;
   grid-template-columns: 2fr 2fr;
    justify-items: center;
    @media(max-width:1100px){
        grid-template-columns: 1fr;
        justify-content: start;
        height: 90%;
    }
    @media(max-width:1000px){
        height: 85%;
    }
    @media(max-width:900px){
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
       /* height: 100%; */
    }
    @media(max-width:600px){
        grid-template-columns: 1fr  1fr 1fr 1fr;
        font-size: 15px ;
     }
}
.navigate{
    color: #8aaccc;
}
.list{
    cursor: pointer;
}
.login{
    height: 100%;
    display: flex;
    flex: 1.1;  
    flex-direction: column;
    align-items: center;
    @media(max-width:900px){
        height: 50%;
        margin: 20px;
     }
     
}

.logincont{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
   align-items: center;
   @media(max-width:900px){
    gap: 20px;
}
}
.rigid{
    height: 32px;
    width: 280px;
    background-color: white;
    color: black;
    @media(max-width:900px){
        width: 50vw;
}

}
.rigid:focus{
   background-color: rgb(194, 233, 233);
}
.passwordWrapper{
    display: flex;
width: 90%;
}
.toggleBtn{
    background-color:  rgb(48, 48, 166);
    border-radius: 2px;
}
.btn{
    height: 40px    ;
    width: 80px;
    cursor: pointer;
    background-color: rgb(48, 48, 166);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(7, 20, 211);
}
.navigate{

 @media(max-width:600px ) {
    font-size: 10px;
 }
}
.body{
    margin: 0px;padding: 0;
  
}