@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;600&display=swap');



.box{
    width:100%;
    height:4.2vh;
    background-color: #BEC9F4;
}
.hero{
    height: 77vh;
    width:100%;
    display: flex;
    justify-content: flex-end;
    

}
.img{
    width:100%;
    z-index: -1;
}

.right{
    width:38vw;
    background-color: #242754;
    opacity:0.7;
    
    
    
}
.text{
    padding-top:60px ;
    padding-left: 40px;
    color: #fff;
    font-size: 26px;
    width:28vw;
    height:3vw;
    font-family: "Roboto Serif",sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
}
