@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;600&display=swap');

.landing{
    display: flex;
    z-index: -1;
    flex-direction: row;
    /* height: 100vw; */
}
.hero{
    height: 40vw;
    width:100%;
    display: flex;
    justify-content: center;
    @media(max-width:600px){
        height: 60vw;
    }
    @media(max-width:400px){
        height: 70vw;
    }
}
.img{
  
    z-index: -1;
}

.right{
    display: flex;
    width:38vw;
    @media(max-width:1100px){
        width:70%;
    }
    @media(max-width:650px){
        width:100%;
    }
    background-color: #242754;
    opacity:0.7;
    
    
    
}
.text{
    padding-top:60px ;
    padding-left: 40px;
    color: #fff;
    font-size: 26px;
    width:28vw;
    height:3vw;
    font-family: "Roboto Serif",sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
     @media(max-width:600px ) {
        font-size: 10px;
     }
}
