.root{
    background-color: white;
    color: black;
}

.b{
    color: white;
}

.backbox{
    background-color: #091235;
    margin-left: 2%;
    margin-right: 2%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color: white;
    margin-top: 2%;
    font-size: 1.8rem;
    font-weight: bolder;
    display: inline;
}
.dots{
    height: 20px;
    width: 250px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.dot{
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.contain{
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.robot{
    width: 600px;
    margin-left: -5%;
    margin-bottom: 0%;
    transform: translateY(25%)

}
.rigprojects{
    color: rgb(255, 255, 255);
    margin-right: -30%;
    left: 450px;
    bottom: 350px;
    font-size: 3.5rem;
    font-weight: bolder;
    z-index: 3;
}

.proSect{
    margin-left: 2%;
    margin-right: 2%;
}
.mjrPro{
    padding-top: 30px;
    color: black;
    text-align: center;
}
.divLine{
    display: flex;
    justify-content: center;
}
.line{
    height: 4px;
    width: 300px;
    background-color: rgb(255, 217, 0);
}

.project1{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
}
.line1{
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text1{
    padding-right: 80px;
    color: black;
}
.text2{
    padding-left: 50px;
    color: black;
}