.team{
    color: black;
    background-color: #d9d9d9;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
.container{
    background-color: white;
    color: black;
    height: 380px;
    padding: 40px;
}

.item1{
    height: 80px;
    width: 400px;
    background-color: aqua;
    display: flex;
    
}

.photoItem1{
    height: 80px;
    width: 80px;
    background-color: burlywood;
}
 .dataItem1{
    margin: 10px;
 }

 .linksItem1{
    display: flex;
    justify-content: space-around;
 }

 .icons{
    width: 20px;
    color: black;
    fill: black;
 }

 .icon{
    fill: black;
 }