@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.root{
    background-color: white;
    height: 100vh;

}

.container{
    position: relative;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details{
    position: relative;
    background-color: #555;
    height: 10rem;
    width: 80rem;
    transform: translate(2rem, 2rem);
    text-align: center;
    z-index: 4;
}
.details::before {
    content: "EVENTS";
    line-height: 10rem;
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242754;
    transform: translate(-2rem, -2rem);
    z-index: -5; /* Ensure the pseudo-element is behind the parent content */
  }

  .notification{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 8rem;
        font-family: "just another hand";
    }