@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');


.root {
    background-color: #f9f9f9;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    overflow-y: auto;
}
.heading {
  
    background-color: #fff;
    font-size: 3rem;
    font-family: 'Just Another Hand', cursive;
    text-align: center;
    color: #242754;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 1rem 0;
    margin: 0;
  }
  
.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  gap: 2rem;
  width: 60%;
}

.card {
  background-color: #555;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: translate(0.5rem, 0.5rem);
  z-index: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translate(0, 0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242754;
  z-index: -1;
  transform: translate(-0.5rem, -0.5rem);
  border-radius: 8px;
}

.title {
  font-size: 2rem;
  font-family: 'Just Another Hand', cursive;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
