/* styles/AchievementReport.module.css */
.container {
    background: #ffffff;
  }
  /* styles/AchievementReport.module.css */
.header {
  height: 15vw;
  background-color: #242754;
  position: relative; /* Make the header a relative positioned container */
}

.headerTitle {
  color: #ffffff;
  font-size: 7vw;
  font-family: ink free;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
  line-height: 14rem;
  transform: translateX(-12%) translateY(5%);
  @media(max-width:1250px){
    transform: translateX(-12%) translateY(-18%);
  }
  @media(max-width:670px){
    transform: translateX(-12%) translateY(-30%);
  }
  @media(max-width:450px){
    transform: translateX(-12%) translateY(-35%);
  }
  @media(max-width:350px){
    font-size: 1.4rem;
    transform: translateX(-12%) translateY(-40%);
  }
}

.image {
  width: 20vw;
  /* z-index: -1; */
  position: absolute; /* Position the image absolutely within the header */
  right: 3vw; /* Align the image 5rem from the right */
  top: 2%; /*Vertically center the image*/
  @media(max-width:650px){
    width: 23vw;
  }
  @media(max-width:500px){
    width: 26vw;
  }
}

  .main {
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
  }
  
  
  .title {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2rem;
    color: #0056b3;
    position: relative;
    @media(max-width:900px){
font-size: 4vw;
    }
    @media(max-width:650px){
font-size: 1.5rem;
    }
    @media(max-width:450px){

  }
}
  .title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #0056b3;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    color: #ad00b3;
    margin-bottom: 0.5rem;
    position: relative;
  }
  
  .sectionTitle::before {
    content: '';
    width: 40px;
    height: 3px;
    background: #0056b3;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .sectionContent {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-left: 1rem;
  }
  
  .section:hover {
    background: #f1f5f9;
    padding: 1rem;
    border-radius: 8px;
    transition: background 0.3s, padding 0.3s, border-radius 0.3s;
  }
  