/* styles/AchievementReport.module.css */
.container {
    /* padding: 2rem; */
    /* background: linear-gradient(135deg, #f3f4f6, #e2e8f0); */
    /* min-height: 100vh; */
    background: #ffffff;
  }
  /* styles/AchievementReport.module.css */
.header {
  height: 15rem;
  background-color: #242754;
  position: relative; /* Make the header a relative positioned container */
}

.headerTitle {
  color: #ffffff;
  font-size: 6rem;
  font-family: ink free;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
  line-height: 14rem;
  transform: translateX(-12%);
}

.image {
  width: 20rem;
  position: absolute; /* Position the image absolutely within the header */
  right: 3rem; /* Align the image 5rem from the right */
  top: 2%; /*Vertically center the image*/
}

  .main {
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 12px;
  }
  
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
    position: relative;
  }
  
  .title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #0056b3;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    color: #0056b3;
    margin-bottom: 0.5rem;
    position: relative;
  }
  
  .sectionTitle::before {
    content: '';
    width: 40px;
    height: 3px;
    background: #0056b3;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .sectionContent {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-left: 1rem;
  }
  
  .section:hover {
    background: #f1f5f9;
    padding: 1rem;
    border-radius: 8px;
    transition: background 0.3s, padding 0.3s, border-radius 0.3s;
  }
  